*{
 margin: 0;
 padding: 15px;
 box-sizing: border-box;
 font-family: Arial, Helvetica, sans-serif;
}
body{
 min-width: 400px;
}
input{
 width: 100%;
 display: block;
 border:1px solid #5f9341;
 padding: 20px;
}
button{
 width: 30vw;
 margin-top: 7px;
 color: white;
 background:#5f9341 ;
 border: none;
 font-size: 1rem;
 font-weight: bold;
 cursor: pointer;
  border: 1px solid green;
}
input:focus{
 outline: none;
 background-color: rgba(0, 0, 255, 0.24);
}
.box{
 width: 80vw;
 height: 30vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: aquamarine;
 cursor: pointer;
}
ul {
 list-style: none;
 padding-left: 0 !important;
 margin-left: 0;
}
li{
 padding: 0;
 margin-top: 10px;
}
li a{
 color: green;
 padding: 0;
 font-weight: bolder;
}
.delete-btn{
 background: transparent;
 color: green;
 cursor: pointer;
 font-size: .8rem;
}